<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light">会員情報編集</span></h5>
  </div>
  <div class="row">
    <div class="col-10">
      <%= form_with model: @customer, url: customers_information_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>氏名</td>
            <td><%= f.text_field :last_name, style: "width:100%" %></td>
            <td></td>
            <td><%= f.text_field :first_name, style: "width:100%" %></td>
            <td></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= f.text_field :last_name_kana, style: "width:100%" %></td>
            <td></td>
            <td><%= f.text_field :first_name_kana, style: "width:100%" %></td>
            <td></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :postal_code, style: "width:100%" %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td colspan="4"><%= f.text_field :address, style: "width:100%" %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= f.text_field :telephone_number, style: "width:100%" %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email, style: "width:100%" %></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td colspan="2"><%= f.submit "編集内容を保存", class: "btn btn-success btn-block" %></td>
            <td></td>
            <td><%= link_to "退会する", customers_confirm_path, class: "btn btn-danger" %></td>
          </tr>
        </tfoot>
      </table>
      <% end %>
    </div>
  </div>
</div>
