<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light">マイページ</span></h5>
  </div>

  <div class="row">
    <div class="col-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="align-middle">登録情報</th>
            <td>
              <%= link_to "編集する", customers_information_edit_path, class: "btn btn-success btn-sm" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">氏名</td>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
          </tr>
          <tr>
            <td class="bg-light">カナ</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="bg-light">郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td class="bg-light">住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="bg-light">電話番号</td>
            <td><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td class="bg-light">メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="align-middle">配送先</th>
            <td>
              <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-sm" %>
            </td>
          </tr>
          <tr>
            <th class="align-middle">注文履歴</th>
            <td>
              <%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm" %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>