<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light">商品新規登録</span></h5>
  </div>

  <%= form_with model: @item, url: admin_items_path do |f| %>
    <div class="row mb-2 justify-content-center">
      <div class="col-2">
        <%= f.label "商品画像" %>
      </div>
      <div class="col-5">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row mb-2 justify-content-center">
      <div class="col-2">
        <%= f.label "商品名" %>
      </div>
      <div class="col-5">
        <%= f.text_field :name, placeholder: "商品名", class: "form-control" %>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row mb-2 justify-content-center">
      <div class="col-2">
        <%= f.label "商品説明" %>
      </div>
      <div class="col-5">
        <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: "form-control" %>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row mb-2 justify-content-center">
      <div class="col-2">
        <%= f.label "ジャンル" %>
      </div>
      <div class="col-5 form-select">
        <%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "--選択してください--" }, class: "form-control" %>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row mb-2 justify-content-center">
      <div class="col-2">
        <%= f.label "税抜価格" %>
      </div>
      <div class="col-5">
        <%= f.text_field :price, placeholder: "1000", class: "form-control" %>
      </div>
      <div class="col-1">
        円
      </div>
    </div>
    <div class="row mb-2 justify-content-center">
      <div class="col-2">
        <%= f.label "販売ステータス" %>
      </div>
      <div class="col-5">
        <%= f.radio_button :is_active, :true, checked: true %>販売中　<%= f.radio_button :is_active, :false %>販売停止中
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row mx-auto">
      <div class="col-2 mx-auto">
        <%= f.submit "新規登録", class: "btn btn-success btn-block" %>
      </div>
    </div>
  <% end %>
</div>