<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light">商品新規登録</span></h5>
  </div>

  <div class="row">
    <div class="col-8 mx-auto">
    <%= form_with model: @item, url: admin_items_path do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="small align-middle">商品画像</td>
            <td>
              <%= f.file_field :image, accept: "image/*", class: "small" %>
            </td>
          </tr>
          <tr>
            <td class="small align-middle">商品名</td>
            <td>
              <%= f.text_field :name, placeholder: "商品名", style: "width:100%" %>
            </td>
          </tr>
          <tr>
            <td class="small">商品説明</td>
            <td>
              <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", style: "width:100%" %>
            </td>
          </tr>
          <tr>
            <td class="small align-middle">ジャンル</td>
            <td>
              <%= f.collection_select :genre_id, @genres, :id, :name, { prompt: "--選択してください--" }, style: "width:100%" %>
            </td>
          </tr>
          <tr>
            <td class="small align-middle">税抜価格</td>
            <td>
              <%= f.text_field :price, placeholder: "1000", style: "width:100%" %>
            </td>
            <td class="small align-middle pl-0">円</td>
          </tr>
          <tr>
            <td class="small align-middle">販売ステータス</td>
            <td>
              <%= f.radio_button :is_active, :true, checked: true %>販売中　<%= f.radio_button :is_active, :false %>販売停止中
            </td>
          </tr>
          <tr>
            <td colspan="4" class="text-center">
              <%= f.submit "新規登録", class: "btn btn-success" %>
            </td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>