<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light">商品詳細</span></h5>
  </div>

  <div class="row">
    <div class="col-4 text-center">
      <%= image_tag @item.get_image(200, 200), class: "border border-secondary" %>
    </div>
    <div class="col-6">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="small align-middle">商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td class="small align-middle">商品説明</td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td class="small align-middle">ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td class="small align-middle">税込価格<br>(税抜価格)</td>
            <td><%= @item.add_tax_price %> (<%= @item.price.to_s(:delimited) %>) 円</td>
          </tr>
          <tr>
            <td class="small align-middle">販売ステータス</td>
            <th>
              <% if @item.is_active == true %>
                <span class="text-success">販売中</span>
              <% elsif @item.is_active == false %>
                <span class="text-secondary">販売停止中</span>
              <% end %>
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
    </div>
  </div>
</div>