<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light">管理者ログイン</span></h5>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <%= f.label "メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label "パスワード" %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class="pt-4">
              <%= f.submit "ログイン", class: "btn btn-primary"%>
            </td>
          </tr>
        </tfoot>
      </table>
    <% end %>
    </div>
  </div>

  <%= render "admin/shared/links" %>
</div>