<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light"><%= @customer.full_name %>さんの会員情報編集</span></h5>
  </div>

  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <div class="row">
    <div class="col-10">
      <table  class="table table-borderless">
        <tbody>
          <tr>
            <td class="small">会員ID</td>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td class="small">氏名</td>
            <td><%= f.text_field :last_name, class: "form-control" %></td>
            <td><%= f.text_field :first_name, class: "form-control" %></td>
            <td width="100px"></td>
          </tr>
          <tr>
            <td class="small">フリガナ</td>
            <td><%= f.text_field :last_name_kana, class: "form-control" %></td>
            <td><%= f.text_field :first_name_kana, class: "form-control" %></td>
          </tr>
          <tr>
            <td class="small">郵便番号</td>
            <td><%= f.text_field :postal_code, class: "form-control" %></td>
          </tr>
          <tr>
            <td class="small">住所</td>
            <td colspan="3"><%= f.text_field :address, class: "form-control" %></td>
          </tr>
          <tr>
            <td class="small">電話番号</td>
            <td><%= f.text_field :telephone_number, class: "form-control" %></td>
          </tr>
          <tr>
            <td class="small">メールアドレス</td>
            <td><%= f.email_field :email, class: "form-control" %></td>
          </tr>
          <tr>
            <td class="small">会員ステータス</td>
            <td><%= f.radio_button :is_active, :false %> 有効  <%= f.radio_button :is_active, :true %> 退会</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class="py-5"><%= f.submit "変更を保存", class: "btn btn-success" %></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <% end %>
</div>