<h2>注文履歴詳細</h2>

<table>
  <tr>
    <td>購入者</td>
    <td><%= @order.customer.full_name %></td>
  </tr>
  <tr>
    <td>注文日</td>
    <td><%= @order.created_at %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td><%= @order.postal_code %> <%= @order.address %><br>
    <%= @order.name %></td>
  </tr>
  <tr>
    <td>注文ステータス</td>
    <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
    <td><%= f.select :order_status, Order.order_status.keys, {} %>
    <%= f.submit "更新" %></td>
    <% end %>
  </tr>
</table>
<table>
  <thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th>製作ステータス</th>
    <th></th>
  </thead>
  <% @order_details.each do |order_detail| %>
  <tbody>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= order_detail.price %></td>
      <td><%= order_detail.amount %></td>
      <td></td>
      <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
      <td><%= f.select :making_status, OrderDetail.making_status.keys, {} %></td>
      <td><%= f.submit "更新" %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>