<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light">注文履歴詳細</span></h5>
  </div>

  <table class="table table-borderless">
    <tr>
      <th>購入者</th>
      <td>
        <%= link_to admin_customers_path(@order.customer.id), class:"text-dark" do %>
          <u><%= @order.customer.full_name %></u>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td>〒<%= @order.postal_code %> <%= @order.address %><br>
      <%= @order.name %></td>
    </tr>
    <tr>
      <th>支払い方法</th>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <td>注文ステータス</td>
        <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
      <td><%= f.select :order_status, Order.order_statuses.keys, {} %>
        <%= f.submit "更新", class: "btn btn-success btn-sm" %></td>
        <% end %>
    </tr>
  </table>

  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead class="bg-light">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </thead>
        <tbody class="table-borderless">
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.price * order_detail.amount %></td>
            <%= form_with model: @order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
            <td><%= f.select :making_status, OrderDetail.making_statuses.keys, {} %></td>
            <td><%= f.submit "更新", class: "btn btn-success btn-sm" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td><%= @order.price %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>