<div class="container">
  <div class="row m-5">
    <h5><span class="bg-light">配送先編集</span></h5>
  </div>
  <div class="row">
    <div class="col-10">
      <%= form_with model: @address, url: address_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><%= f.text_field :postal_code, style: "width:100%" %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td colspan="2"><%= f.text_field :address, style: "width:100%" %></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= f.text_field :name, style: "width:100%" %></td>
            <td style="width: 30%"></td>
            <td><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>