<div class="container">
  <div class="row mt-5 mx-5">
    <h5><span class="bg-light">注文履歴一覧</span></h5>
  </div>
  <table class="table table-bordered">
    <thead class="bg-light">
      <tr>
        <td>注文日</td>
        <td>配送先</td>
        <td>注文商品</td>
        <td>支払金額</td>
        <td>ステータス</td>
        <td>注文詳細</td>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td>
          〒<%= order.postal_code %><br>
          <%= order.address %><br>
          <%= order.name %>
        </td>
        <td>
          <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %></br>
          <% end %>
        </td>
        <td><%= order.price.to_s(:delimited) %>円</td>
        <td><%= order.order_status_i18n %></td>
        <td>
          <%= link_to "表示する", order_path(order.id), class: "btn btn-primary btn-sm text-nowrap" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>