<div class="container">
  <div class="row mt-5 mx-5">
    <h5><span class="bg-light">注文情報入力</span></h5>
  </div>

  <div class="row">
  <%= form_with model: @order, url: confirm_orders_path do |f| %>
    <ul class="list-unstyled">
      <li class="payment_method mb-2">
        <h6><strong>支払方法</strong></h6>
        <ul class="list-unstyled ml-4">
          <li>
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
          </li>
          <li>
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
          </li>
        </ul>
      </li>

      <li class="address">
        <h6><strong>お届け先</strong></h6>
        <ul class="list-unstyled ml-4">
          <li class="mb-3">
            <%= f.radio_button :select_address, "0" %> ご自身の住所
            <ul class="list-unstyled ml-4">
              <li>
                <%= @customer.address_display %><br>
                <%= @customer.full_name %>
              </li>
            </ul>
          </li>
          <li class="mb-3">
            <%= f.radio_button :select_address, "1" %> 登録済住所から選択
            <ul class="list-unstyled ml-4 my-1">
              <li>
                <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
              </li>
            </ul>
          </li>
          <li>
            <%= f.radio_button :select_address, "2" %> 新しいお届け先
            <table class="table table-borderless table-sm ml-4">
              <tbody class="small">
                <tr>
                  <td class="align-middle">郵便番号(ハイフンなし)</td>
                  <td><%= f.text_field :postal_code, placeholder: "0000000", style: "width:100%" %></td>
                </tr>
                <tr>
                  <td class="align-middle">住所</td>
                  <td colspan="2"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", style: "width:100%" %></td>
                </tr>
                <tr>
                  <td>宛名</td>
                  <td><%= f.text_field :name, placeholder: "令和道子", style: "width:100%" %></td>
                  <td style="width: 30%"></td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>