<div class="container">
  <div class="row m-4">
    <h5><span class="bg-light">ログイン</span></h5>
  </div>
  <div class="row mx-5 mb-3">
    <h7><span class="bg-light">会員の方はこちらからログイン</span></h7>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
    <%= form_with model: @customer, url: customer_session_path do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>
              <%= f.label "メールアドレス" %>
            </td>
            <td>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-control" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label "パスワード" %>
            </td>
            <td>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class="pt-4">
              <%= f.submit "ログイン", class: "btn btn-primary"%>
            </td>
          </tr>
        </tfoot>
      </table>
    <% end %>
    </div>
  </div>

  <div class="row mx-5 mb-3">
    <h7><span class="bg-light">会員登録がお済みでない方</span></h>
  </div>
  <div class="row ml-5">
    <p class="ml-5">
      <u><%= link_to "こちら", new_customer_registration_path %></u>　から新規登録を行ってください。
    </p>
  </div>
</div>
