<div class="container">
  <div class="row mt-5">
    <div class="col-3">
    </div>

    <div class="col-9">

      <div class="row align-text-bottom">
        <div class="align-text-bottom">
          <p><span class="h4"><strong>商品一覧</strong></span>  (全<%= @item_count.count %>件)</p>
        </div>
      </div>

      <div class="row">
        <% @items.each do |item| %>
        <div class="m-1 item" style="width:23%">
          <%= link_to item_path(item.id) do %>
            <div class="image bg-dark" style="height:100px"></div>
          <% end %>
          <p class="small">
            <strong><%= item.name %><br>
            ￥<%= item.add_tax_price.to_s(:delimited) %></strong>
          </p>
        </div>
        <% end %>
      </div>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @items %>
        </div>
      </div>
    </div>
  </div>
</div>