<div class="container">
  <div class="row mt-5">
    <div class="col-3">
      <%= render 'sidebar', genres: @genres %>
    </div>

    <div class="col-9">

      <div class="row">
          <p><span class="h4"><strong>商品一覧</strong></span>  (全<%= @item_count.count %>件)</p>
      </div>

      <div class="row">
        <% @items.each do |item| %>
        <div class="item m-1">
          <div class="image text-center">
            <%= link_to item_path(item.id) do %>
              <%= image_tag item.get_image(200, 200), class: "border border-secondary", style: "object-fit:cover", size: "200x150" %>
            <% end %>
          </div>
          <p class="small text-dark">
            <strong><%= item.name %></strong>
          </p>

          <p class="small">
            <strong>￥<%= item.add_tax_price %></strong>
          </p>
        </div>
        <% end %>
      </div>
      <div class="row">
        <div class="mx-auto">
          <%= paginate @items %>
        </div>
      </div>
    </div>
  </div>
</div>