<div class="container">
  <div class="row mt-5">
    <div class="col-3">

    </div>

    <div class="col-4">

      <div class="bg-dark" style="height:100px"></div>

    </div>

    <div class="col-5">
      <div class="row">
        <h4><strong><%= @item.name %></strong></h4>
      </div>
      <div class="row">
        <p class="text-wrap">
          <%= @item.introduction %>
        </p>
      </div>
      <div class="row">
        <p>
          <span class="h5"><strong>￥<%= @item.add_tax_price %></strong></span>
          <span class="small">(税込)</span>
        </p>
      </div>
      <div class="row">
        <div class="col my-auto">
        <%= form_with model: @cart_item do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.select :amount, *[1..10], prompt: "個数選択" %>
        </div>
        <div class="col">
          <%= f.submit "カートに入れる", class: "btn btn-success btn-sm" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>